#map {
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    width: 90%;
}    

#map-panel {
    height: 700px;
    margin-top: 20px;
}
#map-panel > .panel-body {
    height: 500px;
}

html, body { 
    margin: 0; padding: 0; }

.input-group {
    margin-bottom: 10px;
}

#search-route {
    text-shadow: none;
}

.hide-c {
    display: none;
}

.full-width {
    width: 100%;
}